*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;  
    margin-top: 1%;
}

h2{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
}

h3{
    font-weight: bold;
    margin-left: 17rem;
    max-width: 70%;
    margin-top: 4.2rem;
    font-size: 1.2rem;
}

.unidade{
    width: 9rem;
    height: 1.9rem;
}

input[type = checkbox]{
    height: 2rem;
    width: 1.2rem;
    outline: none;
    color: rgb(146, 146, 146);
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
}

.ativo{
    position: absolute;
    left: 2rem;
    top: 22.3rem;
}

input{
    height: 2rem;
    width: 16rem;
    outline: none;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    color: rgb(146, 146, 146);
}

button{
    height: 2.3rem;
    width: 10rem;
    background-color: #2c5ae4;
    color: white;
    border-radius: 8px;
    text-align: center;
    border: none;
    font-size: 0.95rem;
}
button:hover{
    background-color: #2148be;
}

.geral{
    max-width: 11rem;
    margin: 1rem;
    position: absolute;
    top: 8.6rem;
    left: 16rem;
}

label{
    margin-top: 1rem;
    font-weight: bold;
}
