<div class="menu">
    <img class="logo" src="logo.svg" alt="">

    <div class="atalhos">

        <a class="dashboard" routerLink="/dashboard" >
            <div class="atalho">
            <p>Dashboard</p>
        </div>
        </a>

        <a class="unidades" routerLink="/listaUnidades">
            <div class="atalho">
            <p>Unidades</p>
        </div>
        </a>

        <a class="energia" routerLink="/energia">
            <div class="atalho">
            <p>Cadastro de energia gerada</p>
            </div>
        </a>
    
    </div>

</div>